<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">
                Por favor ingrese su email
            </h3>
            <div class="form-group">
                <input type="email" class="form-control" [formControl]="UserEmail" required>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-success" (click)="onReset()">Recuperar contraseña</button>
            </div>
        </div>
    </div>
</div>

