<section *ngIf="productoID">
    <div class="container">
        <div >
            <h2 class="text-center">Reservar  {{productoID.producto}}</h2>
        </div>
        <form [formGroup]="fomulario_reserva">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="">Servicio</label>
                        <input type="text" class="form-control" formControlName="servicio"  [(ngModel)]="productoID.producto" readonly >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" formControlName="nombre" placeholder="Agragar nombre">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Apellido</label>
                        <input type="text" class="form-control" formControlName="apellido" placeholder="Ingrese apellido">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Cedula</label>
                        <input type="text" class="form-control" formControlName="cedula" placeholder="ingresar numero de Documento">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Correo</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="Ingrese Correo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Facha de inicio</label>
                        <input type="date" class="form-control" formControlName="fecha_inicio" placeholder="ingresar numero de Documento">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Fecha Final</label>
                        <input type="date" class="form-control" formControlName="fecha_final" placeholder="Ingrese Correo">
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" (click)="reservar()">Reservar</button>
            </div>
        </form>
    </div>
</section>


